@font-face {
  font-family: 'wf-icons';
  src:  url('fonts/wf-icons.eot?n3ikkr');
  src:  url('fonts/wf-icons.eot?n3ikkr#iefix') format('embedded-opentype'),
    url('fonts/wf-icons.ttf?n3ikkr') format('truetype'),
    url('fonts/wf-icons.woff?n3ikkr') format('woff'),
    url('fonts/wf-icons.svg?n3ikkr#wf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wf-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Airtanker:before {
  content: "\e900";
}
.icon-Burn-Barrel-B:before {
  content: "\e901";
}
.icon-Burn-Barrel:before {
  content: "\e902";
}
.icon-Driptorch-B:before {
  content: "\e903";
}
.icon-Driptorch:before {
  content: "\e904";
}
.icon-Extinguishing:before {
  content: "\e905";
}
.icon-Fire-Truck-B:before {
  content: "\e906";
}
.icon-Fire-Truck:before {
  content: "\e907";
}
.icon-Firefighter-C:before {
  content: "\e908";
}
.icon-Firefighter-A:before {
  content: "\e909";
}
.icon-Firefighter-B:before {
  content: "\e90a";
}
.icon-Firefighter-D:before {
  content: "\e90b";
}
.icon-Firepit:before {
  content: "\e90c";
}
.icon-Flames-Color .path1:before {
  content: "\e90d";
  color: rgb(237, 28, 36);
}
.icon-Flames-Color .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(254, 192, 15);
}
.icon-Flames:before {
  content: "\e90f";
}
.icon-Helicopter:before {
  content: "\e910";
}
.icon-Wildfire:before {
  content: "\e911";
}
