/*-------------- Color Classes --------------------*/
.dnr-blue-bg{
    background-color: #003d6b!important;
}

.dnr-grey-bg{
    background-color:#dbdbdb!important;
}

.dnr-red-bg{
    background-color:#C8102E!important;
}

.user-red {
color: coral;
}

.user-green {
color: seagreen;
}

/*-------------- Generics --------------*/
html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F1F1F1;
    margin-bottom: 60px;
}

.table{
    font-size: 1.5rem;
    padding-top: 10px;
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

/*--- MAIN -----------------------------------------------------------------------------------------------------------*/

/*--- NAVBAR ---------------------------------------------------------------------------------------------------------*/

.nav-img{
    max-height:60px;
    margin:0;
    padding: 0;
}

.nav-title{
    font-size: 1.5em;
    font-weight: bold;
}

/*--- DATE ROW -------------------------------------------------------------------------------------------------------*/

.date-header{
    padding: 3px 3px 3px 15px;
}

.date-size{
    font-size: 0.9em;
}

/*--- CARDS ROW ------------------------------------------------------------------------------------------------------*/

.top-card-title{
    font-size: 1.5em;
    text-align: center;
}

.card-title{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.4em;
}

.card-body{
    padding: 0;
}

.dual-num{
    font-size: 4em;
    text-align: center;
    margin-top:10px;
}

.single-num{
    font-size: 7em;
    text-align: center;
    margin-top: -10px;
}

.card-footer{
    padding: 0;
}

.nwcc-link{
    position: relative;
}

.chevron-fix{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);"
}

/* Overrides for top NWCC links */
.btn-primary{
    color: #ffffff; background: #1A5786; border-color: #1A5786;
}

.btn:focus:active {
  outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003d6b;
    border-color: #003d6b;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.popup-a-link{
    color: #003d6b!important;
}

.popup-a-link:hover{
   color: #1A5786!important;
}

#mapdiv{
    height:400px;
    width: 100%;
}

.card-title-other{
    font-size: 1.4em;
    font-weight: 700;
    background: #003d6b;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.bottom-table{
    font-size: 0.9em;
}


.info-card{
    background: #ffffff;
}

.card-title-no-margin{
    margin-bottom: 0;
}

/*-------------- Helpers ----------------------*/
.remove-padding{
    padding: 0;
}

.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*-------------- Leaflet Styling --------------*/
.leaflet-popup-content-wrapper,.leaflet-popup-content{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }

.leaflet-control{
    border-radius: 0;
}

.leaflet-control-layers{
    line-height: 1em;
}

.leaflet-control-layers-group-label{
    margin-bottom: 0.2em;
}

