html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    margin-bottom: 60px;
}

.navbar{
    font-size: 100%!important;
}

.table{
    font-size: 1.2rem;
    padding-top: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.card-title{
    font-size: 1.5rem;
    line-height: 2rem;
}

/*-------------- LOCAL DIVS --------------*/
.remove-padding{
    padding: 0;
}

.dnr-blue_bg{
    background-color: #003d6b!important;
}

.info-card{
    background: #ffffff;
}

.card-title-no-margin{
    margin-bottom: 0px;
}

#mapdiv{
    height:400px;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
  }


