@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*-------------- Color Classes --------------------*/
.dnr-blue-bg{
    background-color: #003d6b!important;
}

.dnr-gray-bg{
    background-color:#dbdbdb!important;
}

.dnr-red-bg{
    background-color:#C8102E!important;
}

.user-green {
color: seagreen;

}

.bg-green {
background: seagreen;

}

/*-------------- Generics --------------*/

html, body, #mapdiv{
    height:100%;
    font-family: 'Roboto', sans-serif;

}

a:hover, a:active, li.active{
    background: #33709E!important;
}

.card-num{
    font-size:5em;
}

.small-title{
    font-size:1em;
}

.leaflet-sidebar-tabs>ul>li.active{
    background: #33709E!important;
}

.leaflet-sidebar.leaflet-touch {
    border: none;
}
.leaflet-sidebar-tabs{
    background: #003d6b;
}

.leaflet-sidebar-header{
    background: #003d6b;
}

/*--- MAIN -----------------------------------------------------------------------------------------------------------*/


/*.nwcc-link{*/
/*    position: relative;*/
/*}*/

/*.chevron-fix{*/
/*    position: absolute;*/
/*    right: 16px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);"*/
/*}*/

/* Overrides for top NWCC links */
.btn-primary{
    color: #ffffff; background: #1A5786; border-color: #1A5786;
}

.btn:focus:active {
  outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003d6b;
    border-color: #003d6b;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.popup-a-link{
    color: #003d6b!important;
}

.popup-a-link:hover{
   color: #1A5786!important;
}

/*-------------- Helpers ----------------------*/
/*.remove-padding{*/
/*    padding: 0;*/
/*}*/

.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*-------------- Leaflet Styling --------------*/
.leaflet-popup-content-wrapper,.leaflet-popup-content{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }

.leaflet-control{
    border-radius: 0;
}

.leaflet-control-layers{
    line-height: 1em;
}

.leaflet-control-layers-group-label{
    margin-bottom: 0.2em;
}

