/*--- Fonts ----------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Oxygen&display=swap');

/*--- Color Classes --------------------------------------------------------------------------------------------------*/
.dnr-blue-bg{
    background-color: #003d6b!important;
}

.dnr-gray-bg{
    background-color:#dbdbdb!important;
}

.dnr-red-bg{
    background-color:#C8102E!important;
}

.user-green {
    color: seagreen;
}

/*--- Globals --------------------------------------------------------------------------------------------------------*/
html, body, #mapdiv{
    height:100%;
    font-family: 'Roboto', sans-serif;
}

#mapdiv{
    position: relative;
}

caption{
    color: #000000;
}

button, .leaflet-bar-part{
    border-radius: 0!important;
}

.overlay {
    max-height: 64px;
    height: 64px;
    position: absolute;
    right: 42px;
    bottom: 10px;
    z-index: 1000;
    background-color: rgba(255, 200, 0, 0.0);
    pointer-events: auto;
}

.date-update{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.date-disclaim{
    font-size: 1em;
}

/*--- Sidebar --------------------------------------------------------------------------------------------------------*/
.leaflet-sidebar-tabs>ul>li.active{
    background: #33709E;
}
.leaflet-sidebar-tabs>ul>li:hover{
    background: #33709E;
}
.leaflet-sidebar.leaflet-touch {
    border: none;
}
.leaflet-sidebar-tabs{
    background: #003d6b;
}

.leaflet-sidebar-header{
    background: #33709E;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*--- Map ------------------------------------------------------------------------------------------------------------*/
.leaflet-popup-content-wrapper,.leaflet-popup-content{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }

.leaflet-control{
    border-radius: 0;
}

.leaflet-control-layers{
    line-height: 1em;
}

.leaflet-control-layers-group-label{
    margin-bottom: 0.2em;
}

.popup-a-link{
    color: #003d6b!important;
}

.popup-a-link.hover{
   color: #1A5786!important;
}

.region-name {
    text-transform:capitalize;
}

.leaflet-control-locate a{
    font-size: inherit;
}

.leaflet-control-locate.active.following a{
    color: #33709E;

}
/*--- Home Panel -----------------------------------------------------------------------------------------------------*/
.card-num{
    font-size:5em;
    color: #000000;
    font-weight: bold;
}

.small-title{
    font-size:1.2em;
    color: #000000;

}

/*--- Resources Panel ------------------------------------------------------------------------------------------------*/
.table-caption{
    caption-side: top;
    padding-bottom: 2px;
    font-size: 1.5em;
}

.table-caption-no-top-pad{
    padding-top: 0;
}

.nwcc-link{
    position: relative;
    padding:5px 10px;
}

.nwcc-link:hover{
    background: #E22A48!important;
}

.chevron-fix{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);"
}

/*--- Twitter Panel --------------------------------------------------------------------------------------------------*/
.twit-column{
    padding-left: 0;
    padding-right: 10px;
}

/*--- Helpers --------------------------------------------------------------------------------------------------------*/
.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
