{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Title -->
    <title>DNR Wildfire Intel</title>


     <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
     <!-- Leaflet Maps CSS -->
     <link rel="stylesheet" href="{% static 'css/vendor/leaflet.css' %}">
     <!-- EasyButton Leaflet -->
     <link rel="stylesheet" href="{% static 'css/vendor/easy-button.css' %}">

    <!-- Custom style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Font style for this website -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,500,700,900&display=swap" rel="stylesheet">
  

    <link rel="shortcut icon" href="https://www.dnr.wa.gov/sites/default/files/DNR%20favicon_new2.ico" type="image/vnd.microsoft.icon" />


</head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id='nav'>
    <a class="navbar-brand" href="{% url 'home' %}" data-toggle="collapse" data-target=".navbar-collapse.show">DNR Wildfire Intel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#intelNavbar" aria-controls="intelNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="intelNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link mr-3" href="{% url 'home' %}" data-toggle="collapse" data-target=".navbar-collapse.show" >home</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <a class="nav-link text-light small" href="{% url 'profile' %}" data-toggle="collapse" data-target=".navbar-collapse.show"><small>logged in as:</small> {{ user.username }}</a><i class="fas fa-user-circle fa-md green"></i>
        {% else %}
          <a class="nav-link text-light small" href="{% url 'login' %}" data-toggle="collapse" data-target=".navbar-collapse.show"><small>click here to log in</small></a><i class="fas fa-user-circle fa-md red"></i>
        {% endif %}
      </div>
    </nav>

        {% block content %}
        {% endblock %}


      <footer class="footer">
          <div class="container py-3">
            <span class="text-muted ">2019. WA DNR Fire, Planning and Information Section. Contact: <a href="mailto:josh.clark@dnr.wa.gov">Josh Clark</a> or <a href="mailto:kirk.davis@dnr.wa.gov">Kirk Davis</a></span>
          </div>
      </footer>
  </body>

  
  <!-- Moment -->
  <script src="{% static 'js/vendor/moment.js' %}"></script> 
  <!-- Bootstrap  -->
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <!-- jQuery -->
  <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script> 
  <!-- Leaflet Maps -->
  <script src="{% static 'js/vendor/leaflet.js' %}"></script>
  <!-- ESRI Leaflet Maps -->
  <script src="{% static 'js/vendor/esri-leaflet.js' %}"></script>
  <!-- Leaflet Easy Button -->
  <script src="{% static 'js/vendor/easy-button.js' %}"></script>
  <!-- ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c040f54e02.js"></script>

</html>
