{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Title -->
    <title>DNR Wildfire Intel Report</title>


     <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <!-- Leaflet Maps CSS -->
     <link rel="stylesheet" href="{% static 'css/vendor/leaflet.css' %}">
     <!-- EasyButton Leaflet -->
     <link rel="stylesheet" href="{% static 'css/vendor/easy-button.css' %}">

    <!-- Custom style sheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Font style for this website -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,500,700,900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="https://www.dnr.wa.gov/sites/default/files/DNR%20favicon_new2.ico" type="image/vnd.microsoft.icon" />

    <!-- Bootstrap needs -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark dnr-blue-bg" id='nav'>
    <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">DNR Wildfire Intel Report</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#intelNavbar" aria-controls="intelNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="intelNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link mr-3" href="{% url 'home' %}">home</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <a class="nav-link text-light small" href="{% url 'profile' %}"><small>logged in as:</small> {{ user.username }}</a><i class="fas fa-user-circle fa-md green"></i>
        {% else %}
          <a class="nav-link text-muted small" href="{% url 'login' %}" ><small>click here to log in</small></a><i class="fas fa-user-circle fa-md red"></i>
        {% endif %}
      </div>
    </nav>
    <div class="container-fluid bg-red border-bottom">
      <div class="row">
        <div class="col-lg-12">
          <small class="text-light"><strong>Last updated: </strong>{{ updated_date_txt }}</small>
        </div>
      </div>
    </div>
    
        {% block content %}
        {% endblock %}
      <footer class="footer text-center border-top">
          <div class="container py-1">
            <small><span class="text-muted">2019. WA DNR Fire, Planning and Information Section. Contact: <a href="mailto:josh.clark@dnr.wa.gov">Josh Clark</a> or <a href="mailto:kirk.davis@dnr.wa.gov">Kirk Davis</a></span></small>
          </div>
      </footer>
  
    <!-- Leaflet Maps -->
    <script src="{% static 'js/vendor/leaflet.js' %}"></script>
    <!-- ESRI Leaflet Maps -->
    <script src="{% static 'js/vendor/esri-leaflet.js' %}"></script>
    <script src="https://unpkg.com/esri-leaflet-renderers@2.0.6"></script>
    <!-- Leaflet Easy Button -->
    <script src="{% static 'js/vendor/easy-button.js' %}"></script>
    <!-- Moment -->
    <script src="{% static 'js/vendor/moment.js' %}"></script> 
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c040f54e02.js"></script>
    </body>
 




</html>
